@mixin mobile
  @media (max-width: 1000px)
    @content

@mixin tablet
  @media (max-width: 1279px)
    @content

@mixin desktop
  @media (min-width: 1280px)
    @content

*
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  list-style: none
  font-style: normal
  word-break: keep-all
  text-decoration: none
  box-sizing: border-box
  vertical-align: baseline
  background-color: transparent

body
  //Typography
  font-family: 'Noto Sans KR', sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 1.3
  color: #000
  overflow-x: hidden

a, a:hover, a:visited
  color: #000
  cursor: pointer

input:focus
  outline: none

img
  display: block

br.only-m
  @include desktop
    display: none

section
  position: relative
  width: 100%
  article
    position: relative
    width: 100%
    max-width: 1440px
    height: 100%
    margin: 0 auto

footer
  position: relative
  width: 100%
  height: 200px
  article
    display: flex
    flex-flow: row nowrap
    position: relative
    width: 100%
    max-width: 1440px
    height: 100%
    margin: 0 auto
    background: url('../images/footer-background.png')
    background-size: cover
    background-position: center
    div.footer-inner
      position: relative
      width: 50%
      height: 100%
      &:nth-child(1)
        div.logo-wrap
          position: absolute
          top: 40px
          left: 40px
          height: 40px
          img
            height: 100%
        div.copyright
          position: absolute
          bottom: 40px
          left: 40px
          font-size: 12px
          font-weight: 400
      &:nth-child(2)
        div.info
          position: absolute
          bottom: 40px
          right: 40px
          font-size: 16px
          font-weight: 500
  div.footer-background
    z-index: -1
    position: absolute
    top: 0
    right: 0
    width: 50vw
    height: 100%
    background: #FFE1C9
@include mobile
  footer
    height: 146px
    article
      div.footer-inner
        &:nth-child(1)
          width: 100%
          div.logo-wrap
            top: 30px
            left: 30px
            height: 24px
          div.copyright
            bottom: 30px
            left: 30px
            font-size: 10px
        &:nth-child(2)
          width: 300px
          div.info
            bottom: 30px
            right: 30px
            font-size: 12px

section.main
  position: relative
  height: 920px
  max-height: 100vh
  article
    div.logo-wrap
      z-index: 1000
      position: absolute
      top: 54px
      left: 60px
      height: 48px
      img
        height: 100%
    div.main-bg-1
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: url('../images/img-main-1.png')
      background-size: cover
      background-position: center
      p
        position: absolute
        bottom: 160px
        right: 110px
        font-size: 70px
        font-weight: 700
    div.main-bg-2
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: url('../images/img-main-2.png')
      background-size: cover
      background-position: center
      opacity: 0
      transition: opacity 3s
      &.active
        opacity: 1
      p
        position: absolute
        top: 0
        left: 0
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        font-size: 66px
        font-weight: 700
        color: #fff
        text-align: center
        text-shadow: 0px 20px 50px rgba(0, 0, 0, 1)
@include mobile
  section.main
    height: 500px
    article
      div.logo-wrap
        top: 20px
        left: 20px
        height: 26px
      div.main-bg-1
        p
          bottom: 80px
          right: 40px
          font-size: 28px
      div.main-bg-2
        p
          font-size: 32px
          text-shadow: 0px 14px 30px rgba(0, 0, 0, 1)

section.what-we-do
  background: #F0F0F0
  article
    padding: 120px
    text-align: center
    div.title
      font-weight: 500
      font-size: 24px
      width: 180px
      padding: 0 6px 10px 6px
      margin: 0 auto
      border-bottom: solid 3px #707070
    div.text
      font-weight: 700
      font-size: 36px
      line-height: 1.2
      margin: 66px 0 99px 0
    div.block-wrap
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      width: 100%
      a
        &:nth-child(1)
          div.block
            background: url('../images/whatwedo-soc.png')
            background-size: cover
            background-position: center
        &:nth-child(2)
          div.block
            background: url('../images/whatwedo-ip.png')
            background-size: cover
            background-position: center
        &:nth-child(3)
          div.block
            background: url('../images/whatwedo-prod.png')
            background-size: cover
            background-position: center
      div.block
        position: relative
        width: 340px
        height: 400px
        box-shadow: 0px 13px 23px rgba(0, 0, 0, 0.15)
        div.block-inner
          position: absolute
          bottom: 48px
          width: 100%
          height: auto
          padding: 40px 0 48px 0
          background: #FFF
          h3
            font-size: 32px
            font-weight: 700
            margin-bottom: 18px
          p
            font-size: 16px
            font-weight: 300
@include tablet
  section.what-we-do
    article
      div.block-wrap
        flex-flow: column nowrap
        a:nth-child(2)
          div.block
            margin: 40px auto
        div.block
          width: 100%
          max-width: 700px
          margin-left: auto
          margin-right: auto
          div.block-inner
            bottom: 0
@include mobile
  section.what-we-do
    article
      padding: 60px 40px
      div.title
        font-size: 20px
        width: 170px
      div.text
        font-size: 16px
        margin: 12px 0 60px
      div.block-wrap
        a:nth-child(2)
          div.block
            margin: 26px auto
        div.block
          height: 200px
          div.block-inner
            padding: 16px 0 20px 0
            h3
              font-size: 20px
              margin-bottom: 8px
            p
              font-size: 12px

section.contact
  position: relative
  height: 920px
  max-height: 100vh
  text-align: center
  div.text
    z-index: 100
    position: absolute
    top: 140px
    left: 50%
    margin-left: -400px
    width: 800px
    font-size: 36px
    font-weight: 700
  a.contact-us
    z-index: 100
    position: absolute
    bottom: 88px
    left: 50%
    margin-left: -93px
    width: 186px
    font-size: 28px
    font-weight: 700
    font-style: italic
    color: #A23434
    border-bottom: solid 3px #A23434
    padding-bottom: 3px
  div.contact-bg-1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url('../images/img-contact-1.png')
    background-size: cover
    background-position: center
  div.contact-bg-2
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url('../images/img-contact-2.png')
    background-size: cover
    background-position: center
    opacity: 0
    transition: opacity 3s
    &.active
      opacity: 1
@include mobile
  section.contact
    height: 400px
    div.text
      top: 50px
      font-size: 22px
      width: 600px
      margin-left: -300px
    a.contact-us
      bottom: 30px
      width: 120px
      margin-left: -60px
      font-size: 18px

section.sub
  background: #DDDDDD
  article
    padding: 230px 120px 120px 120px
    text-align: center
    div.logo-wrap
      position: absolute
      top: 100px
      left: 60px
      height: 48px
      img
        height: 100%
    div.tag
      position: absolute
      top: 100px
      right: 60px
      width: 220px
      height: 50px
      padding-top: 6px
      font-size: 26px
      font-weight: 700
      text-align: center
      color: #fff
      background: #082AB7
    div.title
      margin-bottom: 90px
      img.title
        height: 62px
        margin: 0 auto
      div.title-sub
        font-size: 22px
        font-weight: 400
        margin-top: 26px
@include mobile
  section.sub
    article
      padding: 120px 20px 80px 20px
      div.logo-wrap
        top: 24px
        left: 20px
        height: 22px
      div.tag
        top: 18px
        right: 20px
        width: 130px
        height: 28px
        padding-top: 3px
        font-size: 16px
      div.title
        margin-bottom: 60px
        img.title
          height: 28px
          margin: 0 auto
        div.title-sub
          font-size: 14px
          margin-top: 14px

section.sub.soc-1
  article
    div.title
      margin-bottom: 140px
    div.box-soc-1-1
      width: 100%
      max-width: 1080px
      padding: 0 40px
      margin: 0 auto
      @include mobile
        padding: 0 0px
@include mobile
  section.sub.soc-1
    article
      div.title
        margin-bottom: 80px

section.sub.soc-2
  background: #F0F0F0
  article
    div.tag
      background: #0056A0
    div.title
      font-size: 56px
      font-weight: 400
      color: #082AB7
      margin: 0 auto 150px auto
    div.sub-title
      font-size: 22px
      font-weight: 700
      text-align: left
      color: #A50000
      border-bottom: solid 3px #A50000
      padding-bottom: 16px
      width: 570px
      &.soc-2-2
        width: 560px
        margin-bottom: 160px
    div.box-soc-2-1
      position: relative
      width: 100%
      max-width: 1380px
      margin-bottom: 260px
      p
        position: absolute
        top: 16px
        left: 0px
        font-size: 22px
        font-weight: 400
        text-align: left
    div.box-soc-2-2
      width: 100%
      max-width: 1600px
    div.img-soc-2-1
      width: 100%
      img
        width: 100%
@include mobile
  section.sub.soc-2
    article
      div.title
        font-size: 26px
        margin-bottom: 80px
      div.sub-title
        font-size: 16px
        width: 300px
        margin-bottom: 40px
        &.soc-2-2
          width: 300px
          margin-bottom: 20px
      div.box-soc-2-1
        margin-bottom: 40px
        p
          top: -26px
          font-size: 12px

section.sub.soc-3
  background: #E5E5E5
  article
    padding-top: 120px
    div.sub-title
      font-size: 22px
      font-weight: 700
      text-align: left
      color: #A50000
      border-bottom: solid 3px #A50000
      padding-bottom: 16px
      width: 560px
      margin-bottom: 100px
    div.box-soc-2-3
      width: 100%
      max-width: 1500px
@include mobile
  section.sub.soc-3
    article
      padding-top: 60px
      div.sub-title
        font-size: 16px
        width: 260px
        margin-bottom: 50px

section.sub.ip-1
  background: #E3E3E3
  article
    div.tag
      background: #082AB7
    img.img-1, img.img-2, img.img-4, img.img-5
      width: 100%
      margin: 0 auto
    img.img-1, img.img-4, img.img-5
      max-width: 1080px
    img.img-2
      max-width: 1360px
    img.img-1
      margin-bottom: 40px
    img.img-2
      margin-bottom: 150px
    img.img-4
      margin-bottom: 160px
@include mobile
  section.sub.ip-1
    article
      p.p-1
        font-size: 20px
        margin-bottom: 40px
      p.p-2
        font-size: 20px
        margin-bottom: 60px
      img.img-1
        margin: 0 auto 20px auto
      img.img-2
        margin: 0 auto 40px auto
      img.img-4
        margin: 0 auto 40px auto

section.sub.ip-2
  background: #F0F0F0
  article
    div.tag
      background: #0056A0
    div.title
      img.title
        height: 120px
    img.img-1
      display: block
      width: 100%
      max-width: 1000px
      margin: 0 auto
@include mobile
  section.sub.ip-2
    article
      div.title
        img.title
          width: 100%
          height: auto
          margin: 0 auto

section.sub.prod-1
  background: #EAEAEA
  article
    div.tag
      width: 260px
      background: #183182
    div.title-sub
      color: #183182
    img.img-1
      max-width: 1100px
      margin: 0 auto
@include mobile
  section.sub.prod-1
    article
      img.img-1
        width: 100%

section.sub.prod-2
  background: #EAEAEA
  article
    padding-top: 160px
    div.title
      div.title-sub
        color: #043174
        span
          font-weight: 700
          color: #A71F12
    img.img-2
      max-width: 1240px
      margin: 0 auto
@include mobile
  section.sub.prod-2
    article
      padding-top: 20px
      img.img-2
        width: 100%
