doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title MetaCNI
    link(rel='shortcut icon' href='../assets/images/favicon.png' type='image/x-icon')
    link(rel='icon' href='../assets/images/favicon.png' type='image/x-icon')
    link(rel='stylesheet' href='../assets/styles/main.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap' rel='stylesheet')
    script(src='https://code.jquery.com/jquery-latest.min.js')
  body
    section.sub.soc-1#soc-1
      article
        div.logo-wrap
          a(href='../' target='_self')
            img(src='../assets/images/logo.png')
        a(href='#soc-2')
          div.tag 개발제품
        div.title
          img(src='../assets/images/title-soc.svg')
        div.box-soc-1-1
          img(src='../assets/images/img-soc-1.svg' width='100%')

    section.sub.soc-2#soc-2
      article
        div.logo-wrap
          a(href='../' target='_self')
            img(src='../assets/images/logo.png')
        a(href='#soc-1')
          div.tag MetaEco SoC
        div.title 개발 제품
        div.sub-title 중소형 OLED Panel 용 SoC제품
        div.box-soc-2-1
          p
            | 4Gbps per lane 속도의
            br
            | High Speed Interface 입니다.
          img(src='../assets/images/img-soc-2.png' width='100%')
        div.box-soc-2-2
          img(src='../assets/images/img-soc-3.png' width='100%')
        div.sub-title.soc-2-2 Application-specific ASIC Chip : Battery Charger IC
        div.box-soc-2-3
          img(src='../assets/images/img-soc-4.png' width='100%')

    footer
      article
        div.footer-inner
          div.logo-wrap
            img(src='../assets/images/logo.png')
          div.copyright
            | COPYRIGHT META CNI
            br
            | ALL RIGHTS RESERVED
        div.footer-inner
          div.info
            | 서울시 강남구 도곡로 130 (도곡동, 창우빌딩) 5층
            br
            br
            | T. 02-6949-0708
            br
            | F. 02-6949-0709
            br
            | E. sales@metacni.com
      div.footer-background

  script(src='../assets/scripts/smooth-scroll.js')
  script(src='../assets/scripts/common.js')